/BASES/examenPepa/target/
/BASES/ExamenPepa/nbproject/private/
/BASES/ExamenPepa/build/
/BASES/FicH24_DavidSP/nbproject/private/
/BASES/ACTIVREPASOUD2DOMYSAX_david_sanchez_peso/nbproject/private/
/BASES/ACTIV3UD2XPATH_david_sanchez_peso/nbproject/private/
/BASES/A3UD2Tranformaciones_david_sanchez_peso/nbproject/private/
